.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: rgb(255,102,203);
  } 

.navbar-logo {
    max-width: 200px;
}
.navbar {
    border-bottom-style: solid;
    border-bottom-color: #aa2357;
}

.spec-icon{
    max-width: 80px;
}

.section-heading {
    color: #aa2357;
}

#map {
    height: 100%;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }

.contact-details {
    color: #fff;
}
.sections-links .btn{
        font-size: 13px;
        color: #000;
        letter-spacing: 1px;
        line-height: 15px;
        border: 1px solid #000;
        border-radius: 40px;
        background: transparent;
        transition: all 0.3s ease 0s;
}

.card {
    background-color: #e8e8e8;
    border-radius: 0px;
}
.social-icons {
    font-size: 50px;
    color: #8a0eaf;
}

.footer {
    background-color: #001c38;
    color: #fff;
}
.footer span, a {
    color: #5e7081;
}
.rights {
    border-top: 1px solid;

}
.jumbotron {
    background-image: url(../ikony/image_background.jpeg);
    background-size: cover;
    color: #fff
  }